h3{
        color: #515151;
        text-align: center; 
        font-family: Lato; 
        font-style: normal;
        font-weight: bold;
        line-height: 50px;
}
input{
    margin-left: 15%;
    background: #FFFFFF;
border: 1px solid rgba(74, 82, 72, 0.74);
box-sizing: border-box;
border-radius: 14px;
}
select{
margin-left: 13%;
background: #FFFFFF;
border: 1px solid rgba(74, 82, 72, 0.74);
box-sizing: border-box;
border-radius: 14px;
width: 80%;
}
.form{
    margin-top: 20px;
}
.btnadd{
margin-left: 40%;
width: 304px;
height: 56px;
left: 580px;
top: 1390px;
background: #515151;
border-radius: 9px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
color: #FAFF03;
}
