<app-menu></app-menu>

<body class="main">
  <div class="container">
    <h3>Lista de desejos</h3>
  </div>

  <form class="form-row">
    <div class="card col-md-3 col-12">
      <div class="form-group">
        <h5>Playstation 4</h5>
        <img src="assets/playstation.png" height="100" width="230">
      </div>
    </div>

    <div class="card col-md-3 col-12">
      <div class="form-group">
        <h5>Tomorrowland 2020</h5>
        <img src="assets/tml.png" height="100" width="230">
      </div>
    </div>
  </form>
  <hr>
  <div class="container col-md-3 col-12">
    <h3>Inserir desejo</h3>
    <div class="form-group col-md-10">
      <img class="circular--square " src="assets/homem.png" height="200" width="200">
    </div>
  </div>

  <form class="form-row form justify-content-md-center">
    <div class="col-md-8 col-12">
      <div class="form-group col-md-10">
        <input type="text" class="form-control " placeholder="Título">
      </div>
      <div class="form-group col-md-10">
        <input type="text" class="form-control " placeholder="Solicitado">
      </div>
      <div class="form-group col-md-10">
        <input type="text" class="form-control " placeholder="Limite de tarefas">
      </div>
      <div class="form-group col-md-10">
        <button class="nav-link btnadd ">Adicionar</button>
      </div>
    </div>
  </form>
</body>