<body >
  <hr>
<div class="container col-md-3 col-12">
  <h3>Adicionar desejo</h3>
</div>

<form class="form-row form justify-content-md-center">
  <div class="col-md-8 col-12">
    <div class="form-group col-md-10">
      <input type="text" class="form-control " placeholder="Desejo">
    </div>
    <div class="form-group col-md-10">
      <input type="text" class="form-control " placeholder="Valor">
    </div>

      <select class="custom-select form-group col-md-10" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
  
    <div class="form-group col-md-10">
      <button class="nav-link btnadd ">Adicionar</button>
    </div>
  </div>
</form>

</body>
