<body>
  <div class="header">
    <ul class="nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="navbar-toggler myfamily" href="/">MyFamily</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <button class="nav-link btnEntrar" routerLink="/login">Entrar</button>
      </li>
    </ul>
    <hr>
  </div>

  <div class="card container col-12">
    <h3>Cadastrar-se</h3>

    <div class="card-body">

      <form class="form justify-content-md-center">
        <div class="form-group col-md-5">
          <input type="text" name="nome" class="form-control" [(ngModel)]="cad.nome" required placeholder="Nome da família">
        </div>
        <div class="form-group col-md-5">
          <input type="text" class="form-control" required placeholder="Estado">
        </div>
        <div class="form-group col-md-5">
          <input type="text" class="form-control" required placeholder="Cidade">
        </div>
        <div class="form-group col-md-5">
          <input type="email" class="form-control" name="email" [(ngModel)]="cad.email" required placeholder="E-mail">
        </div>

        <div class="form-group col-md-5">
          <input type="password" class="form-control" name="senha" [(ngModel)]="cad.senha" required placeholder="Senha">
        </div>

      </form>

      <div class="form-check box">
        <input type="checkbox">
        <label for="">Aceito os termos de privacidade</label>
        <button class="nav-link btnVerde " (click)="cadastro()">Cadastrar</button>
      </div>

    </div>
  </div>

</body>