<body>
  <nav class="nav-bar header">
    <div class="row col-12">
      <div class="col-md-6 col-12">
        <a class="navbar-toggler myfamily" href="/">
          <img src="assets/myfamily.png" alt="" width="25%;">
        </a>
      </div>

      <div class="col-md-6 col-12 text-right">
        <button class="nav-link botao" routerLink="/login">Sair</button>
      </div>
      
    </div>
  </nav>


  <div class="row text-center images">

    <div class="col-md-6 col-12">
      <img src="assets/filhos.svg" alt="">
      <p>Para usuários que são crianças <a routerLink="/cadKids"><img src="assets/arrow1.svg"></a></p>
    </div>

    <div class="col-md-6 col-12">
      <img src="assets/pais.svg" alt="">
      <p>Para usuários que são adultos <a routerLink="/cadAdulto"><img src="assets/arrow1.svg"></a></p>
    </div>

  </div>
</body>