.botao{
    width: 25%;
    height: 50px;
    background: #FAFF03;
    border-radius: 49px;
    margin-left: 80%;
    margin-top: 10px;
}
.header{
width: 100%;
height: 80px;
background: #515151;
}
.images{
    margin-top: 90px;
}