.myfamily{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 47px;
    color: #93E059;
    }
.voltar{
    font-size: 50px;
}
h5{
    margin-top: 60px;
}
.h5{
        margin-left: 25%;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 47px;
        color: #4A5248;
        }
.card1{
    width: 105%;
    background: #93E059;
    height: 400px;
    text-align: center;
    color: #4A5248;
    box-shadow: 0px 8px 20px #4A5248;
}
.card2{
    width: 105%;
    background: #4A5248;
    height: 400px;
    text-align: center;
    color: #93E059;
    box-shadow: 0px 8px 20px #4A5248;
}
img{
    margin-top: 150px;
}