.botao{
    width: 80px;
height: 80px;
left: 1308px;
top: 49px;
border-radius: 150px;
background: #FAFF03;

}
.menu{
width: 80px;
height: 45px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
color: #FAFF03;
}
nav{
    background: #515151;
}
.sino{
    margin-right: 50px;
}
/* .perfil{
    background: #FAFF03;
    height: 150px;
} */