<body>
     <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"><img src="assets/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                         <a class="menu" href="/logado" id="navbarDropdown" 
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Menu
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item itens" href="/logado">Home</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item itens" href="/tarefas">Tarefas</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item itens" href="/desejos">Desejos</a>
                         </div>
                    </li>
               </ul>

               <form class="form-inline my-2 my-lg-0">
                    <img class="sino" src="assets/sino.png" data-toggle="dropdown">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item perfil"></a>
                    </div>
               </form>

               <form class="form-inline my-2 my-lg-0">
                    <button class="botao" type="submit" data-toggle="dropdown" >Perfil</button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item perfil"></a>
                    </div>
               </form>


          </div>
     </nav>
</body>