    body{
    background: #515151;
    position: absolute;
    background-size: cover;
    }

    hr{
        background: #FAFF03;
    }
    .botao{
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 21px;
text-align: center;
color: #515151;
width: 133px;
height: 60px;
background: #FAFF03;
border-radius: 10px;
margin-left: 1200px;
    }