.fundo{
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 100%;
    background: url(src/assets/background.png);
}
.myfamily{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 47px;
    color: #93E059;
    }
p{
    margin-top: 10%;
   font-family: Quicksand;
   font-style: normal;
   font-weight: normal;
   font-size: 35px;
   line-height: 44px;
   color: #FFFFFF;
    }
    .btn-custom{
        margin-top: 30px;
        border-radius: 94px;
        width:150px;
        height:150px;
        color:#93E059;
        background-color:rgba(196, 196, 196, 0.23);
        border-style: solid;
      }
      .form{
        margin-left: 10%;
        margin-top: 30px;
    }
    h5{
    margin-left: 25%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 47px;
    color: #4A5248;
    }
