<!-- início do modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Novo perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="col-12 form ">
                   <small class="text-danger text-center">{{err}}</small>
                    <div class="form-group col-md-9">
                        <input type="file" name="foto" [(ngModel)]="cad.foto" (change)=selectFile($event)>
                    </div>

                    <div class="form-group col-md-9 ">
                        <input type="text" name="nome" maxlength="10" minlength="4" [(ngModel)]="cad.nome"
                            class="form-control" required placeholder="Nome">
                    </div>
                    <div class="form-group col-md-9 " title="Parentesco">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Parentesco</label>
                          </div>
                        <select name="parentesco" [(ngModel)]="cad.parentesco" class="form-control">
                            <option>Avô/Avó</option>
                            <option>Pai/Mãe</option>
                            <option>Tio/Tia</option>
                            <option>Primo/Prima</option>
                            <option>Filho/Filha</option>
                            <option>Esposa/Marido</option>
                            <option>Outros</option>
                        </select>
                    </div>
                    <div class="form-group col-md-9 ">
                        <input type="date" class="form-control" name="nascimento" [(ngModel)]="cad.nascimento" required
                            placeholder="Idade">
                    </div>
                    <div class="form-group col-md-9 " title="Sexo">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
                          </div>
                        <select name="sexo" [(ngModel)]="cad.sexo" class="form-control">
                            <option>Masculino</option>
                            <option>Feminino</option>
                            <option>Outros</option>
                        </select>
                    </div>
                    <div class="form-group col-md-9 ">
                        <input type="password" class="form-control" name="pin" [(ngModel)]="cad.pin" required
                            placeholder="PIN">
                    </div>
                    <div class="form-group col-md-9 "title="Diga se esse perfil é um perfil de um responsável pela família">
                        <input name="respon" [(ngModel)]="respon" type="checkbox" aria-label="Checkbox for following text input"> Responsável
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" (click)="cadastro()" class="btnVerde">Salvar</button>
            </div>

        </div>
    </div>
</div>
<!-- fim do modal -->


<body>

    <div class="col-12 fundo">
        <div class="row">

            <div class="col-md-6 col-12">
                <a class="navbar-toggler myfamily" style="color:#93E059;">MyFamily</a>
            </div>

            <div class="col-md-6 col-12 text-right">
                <button class="navbar-toggler myfamily" (click)="logout()">Sair</button>
            </div>
        </div>

        <div class="form-group text-center col-12">
            <p>Selecionar perfil</p>
        </div>

        <div class="row justify-content-md-center">
            <a *ngFor="let membros of membros" class="btn btn-custom">
                <p data-toggle="modal" (click)="pegaPin(membros.pin, membros.id)" data-target="#exampleModal" id="nome">
                    {{membros.nome}}</p>
                <i (click)="deletar(membros.id)" type="submit" class="btn material-icons">
                    highlight_off
                </i>
            </a>
            <div>
                <a *ngIf="membros.length < 6" class="btn btn-custom col-12" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    <img src="assets/add.svg" alt="">
                </a>
            </div>
        </div>
        <div class="text-center">
        </div>
    </div>




    <!-- Modal perfil-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Digite seu PIN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="password" name="pinPass" class="col-md-6 col-12" [(ngModel)]="pinPass">

                <div class="modal-footer">
                    <button type="button" (click)="pass(membros.pin, membros.id)" class="btnVerde">Acessar</button>
                </div>

            </div>
        </div>
    </div>




</body>




<!-- <form action=""> 
 <input type="file" name="foto" (change) = selectFile($event)> 
 </form> 

 <img [src]="base64textString" alt="">  -->