body{
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 100%;
    background: url(src/img/background.png);
}
.myfamily{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 47px;
    color: #93E059;
    }
p{
    margin-top: 10%;
   font-family: Quicksand;
   font-style: normal;
   font-weight: normal;
   font-size: 35px;
   line-height: 44px;
   color: #FFFFFF;
    }
.btn-custom {
   padding: 1px 15px 3px 2px;
   border-radius: 50px;
   width: 150px;
   height: 150px;
   background: rgba(196, 196, 196, 0.23);
   border-radius: 94px;
    }