<body>

    <div class="col-12">
        <div class="row">

            <div class="col-md-6 col-12">
                <a class="navbar-toggler myfamily" href="/">MyFamily</a>
            </div>

            <div class="col-md-6 col-12 text-right">
                <button class="navbar-toggler myfamily" routerLink="/">Sair</button>
            </div>
        </div>

        <div class="form-group text-center col-12">
            <p>Selecionar perfil</p>
        </div>

        <div class="form-group text-center">

            <button class="btn btn-custom">
                <img src="assets/add.svg" alt="">
            </button>

        </div>

    </div>

</body>