body{
    background: linear-gradient(180deg, #FAFF03 0%, #FFFFFF 99.54%);
    background-size:cover;
    background-position: center;
    padding-top: 30px;
    width: 100%;
    position: absolute;
}
a{
    margin-top: 20px;
    text-align: center; 
    color:#FAFF03;
}

.card{
width: 50%;
height: 625px;
background: #515151;
}
.card2{
margin-top: 1%;
width: 50%;
height: 50px;
background: #515151;
}
hr{
    background: #FAFF03;
    width: 10%;
}
p{
    color:#FAFF03;
    text-align: center; 
    margin-top: 1%;
    
}

