<body>
  <section class="container col-12">
    <div class="card col-12 mx-auto">
      <br>
      <h3>My Family</h3>
      <h5>Entrar</h5>
      <div class="card-body">
        <form class="form-row form justify-content-md-center">
          {{err}}
          <div class="form-group col-md-10 col-12">
            <input type="email" class="form-control" name="email" [(ngModel)]="creds.email" required placeholder="E-mail">
          </div>

          <div class="form-group col-md-10 col-12">
            <input type="password" class="form-control" name="senha" [(ngModel)]="creds.senha" required placeholder="Senha">
          </div>

          <div class="form-group col-md-10 col-12 ">
            <button  (click)="login()" class="nav-link btnVerde ">Login</button>
          </div>

          <div class="form-check col-md-6 col-12 text-center">
            <input type="checkbox">
            <label style="color:white;"> Lembre-se de mim</label>
          </div>

          <div class="form-group col-md-6 col-12 text-center">
            <a class="ajuda" href="/">Precisa de ajuda?</a>
          </div>
        </form>
        <div class=" col-12 text-center">
          <a class="nova" href="/cadastro">Família nova? <strong>Cadastre-se agora</strong></a>
        </div>
      </div>
    </div>

  </section>

</body>