<div class="col-md-3 col-12 menu">
    <ul class="nav">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a style="color: #93E059; margin-left:20px;" class="navbar-toggler ">MyFamily</a>
        </li>
        <hr>
        <li class="nav-item col-12">
            <a style="color: #93E059; margin-left:20px;" routerLink="/convidar" class="nav-link lista">Convidar</a>
        </li>
        <li class="nav-item col-12">
            <a style="color: #93E059; margin-left:20px;" routerLink="/tarefas" class="nav-link lista">Tarefas</a>
        </li>
        <li class="nav-item col-12">
            <a style="color: #93E059; margin-left:20px;" routerLink="/desejos" class="nav-link lista">Desejos</a>
        </li>
        <li class="nav-item col-12">
            <a style="color: #93E059; margin-left:20px;" routerLink="/membros" class="nav-link lista">Membros</a>
        </li>
        <li class="nav-item col-12">
            <a style="color: #93E059; margin-left:20px;" routerLink="/atividades" class="nav-link lista">Atividades</a>
        </li>
    </ul>
    <div class="p">
        <hr>
        <a class="navbar-toggler" style="margin-left:20px;" routerLink="/logado">Olá, {{nome}}</a>
    </div>
</div>