<body>
    <nav class="nav-bar header">
        <div class="row col-12">
            <div class="col-md-6 col-12">
                <a class="navbar-toggler myfamily" href="/">
                    <img src="assets/myfamily.png" alt="" width="25%;">
                </a>
            </div>

            <div class="col-md-6 col-12 text-right">
                <a>
                    <button class="nav-link botao" routerLink="/login">Sair</button>
                </a>
            </div>
        </div>
    </nav>

    <form class="form-row">
        <div class="form-row justify-content-md-center col-12">
            <h2>Gerenciar conta da criança</h2>
        </div>

        <div class="form-row justify-content-md-center col-12">
            <p>As contas de criança podem ser criadas e gerenciadas a partir da conta de um dos pais ou tutor legal.</p>
        </div>

        <div class="form-group filha col-md-3 col-12 text-center">
            <img src="assets/filha.png" alt="">
        </div>

        <form class="setas">
            <div class="form-group ">
                <img src="assets/seta2.png" alt="">
            </div>

            <div class="form-group  ">
                <img src="assets/seta.svg" alt="">
            </div>
        </form>

        <div class="form-group col-md-3 col-12 text-center">
            <img src="assets/mãe.png" alt="">
        </div>
    </form>

    <form class="form-row">
        <div class="form-row justify-content-md-center col-12">
            <p>Pergunta para os pais ou tutor legal: você já possui uma conta MyFamily ou quer criar uma nova?</p>
        </div>

        <div class="form-row justify-content-md-center col-12">
            <button class="nav-link btn" routerLink="/login">Já possuo conta</button>
        </div>

        <div class="form-row justify-content-md-center col-12">
            <button class="nav-link btn" routerLink="/cadAdulto">Criar nova conta</button>
        </div>
    </form>

</body>