.botao{
    width: 25%;
    height: 50px;
    background: #FAFF03;
    border-radius: 49px;
    margin-left: 80%;
    margin-top: 10px;
}
.header{
width: 100%;
height: 80px;
background: #515151;
}
h2{
    margin-top: 20px;
    font-family: Lato;
font-style: normal;
font-weight: 600;
line-height: 47px;
color: #4A5248;
}
p{
margin-top: 2%;
margin-bottom: 2%;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #515151;
}
.btn{
    margin: 10px auto;
    width: 371px;
    height: 70px;
    left: 539px;
    top: 884px;
    background: #FAFF03;
    font-family: Lato;
    color: #515151;
}.filha{
    margin-left: 12%;
    
}
.setas{
    margin-top: 5%;
}
