<app-menu></app-menu>

<body class="main">
    <div class="card col-md-6 col-12">
        <h3>Convidar familiares</h3>
        <div class="card-body">
            <form class="form-row form justify-content-md-center">
                <div class="form-group col-md-10 ">
                    <input type="email" class="form-control form" placeholder="E-mail para convite">
                </div>
                <div class="form-group col-md-10 ">
                    <input type="text" class="form-control form" placeholder="Parentesco">
                </div>
                <div class="form-group button">
                    <button type="submit" class="nav-link btnVerde ">Enviar</button>
                </div>
            </form>
        </div>
    </div>

</body>