/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.btnAmarelo{
        margin: 10px auto;
        width: 83%;
        height: 45px;
        background: #FAFF03;
        border-radius: 12px;
        font-family: Lato;
        color: #515151;
}
.btnCinza{
    width: 550px;
    height: 60px;
    background: #515151;
    border-radius: 6px;
    color: #FAFF03;
    margin-left: 8%;
}