/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.main{
    margin-left: 30%;
}
.main2{
    margin-left: 25%;
}
.btnAmarelo{
        margin: 10px auto;
        width: 83%;
        height: 45px;
        background: #FAFF03;
        border-radius: 12px;
        font-family: Quicksand;
        color: #515151;
}
.btnCinza{
margin-left: 300px;
width: 279px;
height: 58px;
background: #4A5248;
border-radius: 25px;
color: #93E059;
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 36px;
}