<app-menu></app-menu>
<body class="main">
     <div class="col-md-12 col-12">
          <table class="table"  *ngFor = " let membros of membros">
               <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Parentesco</th>
                    <th>Pontuação</th>

               </tr>
               <tr>
                    <td>{{membros.nome}}</td>
                    <td>{{membros.nascimento}}</td>
                    <td>{{membros.sexo}}</td>
                    <td>{{membros.parentesco}}</td>
                    <td>{{membros.pontuacao}}</td>
                 
               </tr>
          </table>
     </div>
     
</body>

