<app-menu></app-menu>
<body class="main">
     <div class="col-md-12 col-12">
          <table class="table">
               <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Parentesco</th>
                    <th>Pontuação</th>

               </tr>
               <tr>
                    <td>Ana</td>
                    <td>30</td>
                    <td>feminino</td>
                    <td>mãe</td>
                    <td>400</td>
               </tr>
          </table>
     </div>
     
</body>

