body{
    background: #4A5248;
    background-size: cover;
    width: 100%;
    position: absolute;
    
}
    .myfamily2{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 47px;
    color: #4A5248;
    }
    #paragrafo{
        font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    color: white;
    text-align: center;
    }
.inputEmail{
    height: 45px;
    margin-left: 25%;

}
.btn{ 
    margin: 10px auto;
    width: 25%;
    height: 45px;
    background: #FAFF03;
    border-radius: 12px;
    font-family: Lato;
    color: #515151;
}
.botao{
    width: 25%;
    height: 50px;
    background: #FAFF03;
    border-radius: 49px;
    margin-left: 80%;
    margin-top: 10px;
}
   